body {
  background: #cd9deb url(https://phonoteka.org/uploads/posts/2022-02/thumbs/1645298613_12-phonoteka-org-p-besshovnii-fon-dlya-saita-nezhnii-12.jpg);
		color: #cd9deb; 
		background-attachment: fixed;
	font-family:'Comic Sans MS', cursive, sans-serif;
}
.container-sm{
	width: 200px;
  	height: 770px;
  	background: #ccd6c5;
  	position: relative;
	border-radius: 130px;
}
	
