body {
  background: #cd9deb url(https://phonoteka.org/uploads/posts/2022-02/thumbs/1645298613_12-phonoteka-org-p-besshovnii-fon-dlya-saita-nezhnii-12.jpg);
		color: #cd9deb; 
		background-attachment: fixed; 
}
.container-sm{
	width: 200px;
  	height: 770px;
  	background: #c3d1ba;
  	position: relative;
	border-radius: 150px;
}
.form-floating mb-3{
	border-radius: 15px;
}
	
